 // Color modes

 .body-light-mode {
    background-color: $darkPurple;
    color: $white;
    .header {
      background-color: $white;
      .color-theme {
        color: $extraLightPurple;
      }
      span{
        background-color: $extraLightPurple ;
      }
      .mobile-menu {
        background-color: $lightGreen;
      }
    }

    .about-section {
      >div {
        >h2 {
          background-color: $lightBlue;
        }
      }
    }

    .trainer-socials {
       background-color: $lightPurple !important;
    }
    .classes-section {
      .all-classes {
        .class {
      background-color: $lightPurple;
    }
      }
    }
    


}
  



  .body-dark-mode {
    background-color: $darkBlue;
    color: $white;

    button {
      color: $black;
      background-color: $extraLightPurple;
      border: 1px solid $lightGreen;
      box-shadow: 0px 5px 0px 0px $lightGreen;
    }
    
}